footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
  /* Style for the paragraph containing the student IDs */
  footer p:last-child {
    /* Add margin-bottom to create space between the author line and the student IDs line */
    margin-bottom: 10px;
  }
  
  /* Style for the student IDs */
  footer a {
    /* Add margin-right to create space between the student IDs */
    margin-right: 10px;
  }